/*Default size: big*/
/*@media all and (max-width: 1400px) and (min-width: 1000px){*/
	body {
		font-family: Arial;

	}
	.mq-sm {
		display: none;
	}
	.jumbotron {
		background-image: url("inkblotblue.jpg");
		height: 75vh;
		color: #f215f2;
		text-align: center;
		width: 100vw;
	}
	.jumbotron h1 {
		font-size: 400%;
		padding-top: 14%;
	}
		
	.navbar-brand {
	  float: left;
	  height: 50px;
	  line-height: 20px;
	  color: sienna;	
	}
	.nav-links {
		margin-left: 75%;
	}
	.navbar a {
		text-decoration: none;
		color: #66CCFF;
		font-weight: bold;
	}
	.navbar li {
		list-style-type: none;
		display: inline-block;
		margin-left: 25px;
		padding-top: 15px;
	}
	.container-col {
		padding: 9px;
	}
	.col-md-4 {
		color: slategrey;
		margin-left: 80px;
		padding-top: 20px;
		width: 25%;
		float: left;
	}
	.col-md-4 img{
		border-radius: 8px;
	}
	.col-md-4 h2 {
		color: sienna;
	}
/*}*/
/*Laptops, medium screens*/
@media all and (max-width: 900px ) and (min-width: 745px) {
	.jumbotron {
		height: 40vh;
		/*background-position: center;*/
	/*}*/
	/*.jumbotron h1 {*/
		/*padding: 20px;*/
	}

		
	/*.container-col {*/
		/*padding: 0;*/
		/*margin: 0;*/
		/*width: 100%;*/
	/*}*/
	.col-md-4 {
		/*color: slategrey;*/
		/*margin:20px; */
		padding-left: 10%;
		margin-right: 10%;
		width: 60%;
	}
}
/*}*/
/*Tablets*/
@media all and (max-width:739px) and (min-width: 481px){

	.jumbotron {
		display: none;
		/*height: 10vh;*/
		/*background-position: center;*/
	}
	.jumbotron h1 {
		font-size: 200%;
		padding: 0;
	}

	.navbar {
		background-image: url("inkblotblue.jpg");
	}
	.navbar a {
		text-decoration: none;
		color: #66CCFF;
		font-weight: bold;
	}
	.navbar li {
		list-style-type: none;
		display: inline-block;
		margin-left: 25px;
		/*padding-top: 15px;*/
	}




	.navbar-brand {
	  display: none;	
	}
	/*.container-col {
		width: 100%;*/
	}
	.col-md-4 {
		color: slategrey;
		margin-left: 20%;
		width: 55%;
	}
	.navbar li {
		list-style-type: none;
		display: inline-block;
		/*margin-left: 25px;*/
		/*padding-top: 15px;*/
	}
	/*.col-md-4 img{
		border-radius: 0px*/
	}
/*}*/

/*(iPhone, Android, etc.)*/
/*@media all and (max-width: 480px) and (min-width: 320px) {*/
/*	.jumbotron {
		display: none;
	}
	.mq-sm {
		display: inline;

	}
	.mq-sm h1 {
		text-align: left;
		color: #f215f2;
		font-size: 100%;
	}

	.navbar ul{
		float: right;
		position: fixed;
		word-spacing: 10px;
	}

	.container-col {
		/*width: 100%;*/
	/*}
	.col-md-4 {
		color: slategrey;
		margin-left: 5%;
		width: 20%;
	}
	.col-md-4 img{
		display: none;
	}*/

/*}*/










